<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div id="main">
        <!--V-if 
 -->
        <!-- <button @click="contador++">
            {{ contador }}
        </button>

        <hr>
        <label>
            nombre
        </label>
        <input type="" onkeyup="copy(this)" v-model="username">
        <label>
            tu nombre: {{ username }}
        </label> -->


        <!--  <input type="number" v-model="numero1">
        <hr>
        <br>
        <input type="number" v-model="numero2">
        <hr>
        <br>
        <button v-on:click="resultado=numero1+numero2">
            sumar
        </button>
        <label>
            el resultado de la suma es {{ resultado }}
        </label>
        <br>
        <hr>
        <form>
            <div v-for="item in usuarios" :key="item.id">
                Nombre: {{ item.name }} -
                Edad: {{ item.edad }}
            </div>
            <label>
                nombre
            </label>
            <input type="text" v-model="name">
            <input type="text" v-model="edad">
            <button v-on:click="usuariosNuevos" type="button">
                guardar
            </button>
        </form>
 -->

        <hr>
        <form @submit.prevent="onSubmit" v-if="confirmar">

            <label>
                Email
            </label>
            <input type="email" v-model="email">


            <label>
                Password
            </label>
            <input type="password" v-model="password">

            <button>
                guardar
            </button>
            
        </form>

        <div v-if="!confirmar" >

            <h3>ya iniciaste sesion</h3>
        </div>
        
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const message = ref('Hello vue!')
                /* let contador
                let numero1
                let numero2
                let resultado
                let name = ref(0)
                let edad = ref(0)
                let usuarios = ref([
                    {
                        "name": "oscar",
                        "edad": "20"
                    },
                ]) */
                let email
                let password
                let confirmar

                return {
                    /* message,
                    contador: ref(0),
                    username: ref(''),
                    numero1: ref(0),
                    numero2: ref(0),
                    resultado: ref(0),
                    usuarios,
                    edad */
                    email: ref(''),
                    password: ref(''),
                    confirmar: ref(true)



                }


            },
            methods: {
                /* usuariosNuevos() {


                    let nuevo = {
                        "name": this.name,
                        "edad": this.edad
                    }
                    this.usuarios.push(nuevo)
                    this.name = ''
                    this.edad = ''

                } */


                onSubmit(e) {
                    let file = "users.json";

                    fetch(file)
                        .then(response => response.json())
                        .then(response => {
                            response.forEach((user) => {
                                if (user.email == this.email && user.password==this.password) {
                                    this.confirmar=false
                                    
                                }

                                
                            });
                            if (this.confirmar==true) {
                                    alert("no se ha encontrado el usuario")
                             }
                        })
                }



            }
        }).mount('#main')
    </script>
</body>

</html>